.signature-panel
{
   padding-left: 0.5em;
   padding-top: 1em;
   padding-bottom: 1em
}

.signature-details-panel
{
   background-color: #FAFAFA;
   border-top: 1px solid #CCCCCC;
   padding: 1em 1em 1em 1em;
}

.signature-details-left
{
   float: left;
}

.signature-details-right
{
   border-left: 1px solid #ccc;
   margin-left: 70px;
   padding-left: 0.5em;
}
